@import 'tailwindcss';
@import '@heroui/styles';

@font-face {
	font-family: 'Inter';
	src: url('../../public/font/Inter.woff2') format('woff2');
}

html {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}
